@using University.Data.Models;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    @model List<Category>

        <h1>Categories</h1>
        <ul>
        @foreach(var category in Model)
        {
            <li>@category.Name</li>
        }
        </ul>
</body>
</html>